# VARIÁVEIS DE AMBIENTE PARA O WORKER GO

# --- Configurações do RabbitMQ ---
# As credenciais para se conectar ao Message Broker.
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

# --- Configurações do NestJS API ---
# O endereço onde o Worker Go fará a requisição POST.
NESTJS_HOST=localhost
NESTJS_PORT=3000